<li>
  <span class="id"><%=honey.id%></span>
  <span class="honey"><%=honey.name%></span>
  <span class="date"><%=honey.harvested_at%></span>
  <span class="volume_in_ml"><%=honey.volume_in_ml%> milliliters </span>
</li>

