<p>
  <span class="id"><%=hive.id%></span>
  <span class="bee_species"><%=hive.bee_species%></span>
  <span class="date"><%=hive.last_harvest%></span> 
  <span class='small'>last harvested</span>
  <ul>
    <%=render hive.honeys %>
  </ul>
</p>
