// Place all the styles related to the field_of_origins controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


body {
  background-color: #33DDFF;
  color: #181818;
  font-family: 'futura';
  font-size: 4em;
  .name {
    color: #FF33DD;
    font-size:1em;
  }
  .glocode {
    color: #fff;
    font-size: 0.5em;
  }
  .date {
    color: #fff;
    font-size: 0.5em;
  }
  .bee_species {
    color: #DDFF33;
    font-size: 2em;
  }
  .small {
    font-size: 0.25em;
  }
  .volume_in_ml {
    font-size: 0.50em;
    color: #DDFF33;
  }
  li {
    list-style-type:none;
  }
}
